.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  max-width: 709px;
  margin: 183px auto 28px 80px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
  z-index: 1;
}

.title-blue-text {
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  font-weight: normal;
  font-style: italic;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 0px 80px;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  height: 468px;
  width: 546px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin: auto 80px 40px;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__schedule {
  align-self: end;
}

.header__paragraph {
  margin: 0;
  position: relative;
  z-index: 1;
}

.header__adress {
  display: flex;
  align-self: end;
}
