.recipes {
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  padding: 100px 0px 0px 80px;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 24px 0px 80px 80px;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  justify-content: center;
  margin: 0px;
  padding: 0px 0px 215px;
}

.recipes__iframe {
  margin: 0;
}

.recipes__video-caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipes__video-caption-item {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
