.page {
  display: block;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  justify-content: center;
  font-family: "inter", "arial", sans-serif;
  /*"noto serif", "times new roman", serif;*/
  font-size: 16px;
  line-height: 20px;
}
